.body {
  background-color: rgb(212, 255, 216);
  font-family: "DynaPuff";
  user-select: none;
  -webkit-user-select: none;
}

.menu {
  position: relative;
  display: flex;
  background-color: rgb(244, 255, 245);
  height: 120px;
  padding: 10px;
  z-index: 100;
}

.menu-border {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  border-bottom: 2px solid green;
}

.shop-logo {
  width: 120px;
  height: auto;
}

.shop-logo:hover {
  animation: shop-logo-spin infinite 5s linear;
}

@keyframes shop-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*WYSZUKIWARKA*/

.search-bar {
  position: relative;
  left: 5px;
  display: flex;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: linear-gradient(92.88deg, #4D8C57, #A3B56B);
  width: 60%;
  height: 80px;
  top: 20px;
}

.search-icon {
  position: absolute;
  left: 5.5%;
  width: 2rem;
  height: 2rem;
}

.search-bar-input {
  position: relative;
  height: 40px;
  line-height: 30px;
  width: 85%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: rgb(244, 255, 245);
}

.search-bar:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

/*KATEGORIE*/

.category-button {
  position: relative;
  left: 40px;
  top: 20px;
  z-index: 1001;
}

.button {
  position: relative;
  z-index: 1000;
  width: 140px;
  height: 80px;
  background: linear-gradient(92.88deg, #A3B56B, #4D8C57);
  color:  rgb(244, 255, 245);
  font-family: "DynaPuff";
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 1002;
  min-width: 200px;
  background: linear-gradient(92.88deg, #4D8C57, #A3B56B);
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
  color:  rgb(244, 255, 245);
}

.dropdown-content a {
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
  color:  rgb(244, 255, 245);
}

.dropdown-content a:hover {
  background: linear-gradient(92.88deg, #A3B56B, #4D8C57);
  
}

.dropdown-content a:focus {
  background: linear-gradient(92.88deg, #A3B56B, #4D8C57);
  color: #4CAF50;
}

.dropdown-content #top:hover {
  border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.category-button:hover button {
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

.category-button:hover .dropdown-content {
  display: block;
}


/*PRZYCISK LOGOWANIA*/

.login-button {
  position: relative;
  left: 75px;
  top: 20px;
  right: 50px;
  width: 140px;
  height: 80px;

  background-image: linear-gradient(92.88deg, #4D8C57, #A3B56B);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color:  rgb(244, 255, 245);
  cursor: pointer;
  flex-shrink: 0;
  font-family: "DynaPuff";
  font-size: 16px;
  font-weight: 500;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-button:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
  transition-duration: .1s;
}

.bottom {
  height: 50px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.bottom-border {
  width: 90%;
  border-top: 2px solid green;
}

/*POJEDYNCZY PRODUKT*/

.product {
  position: relative;
  width: 250px;
  height: 330px;
  border-radius: 4px;
  z-index: 1;
}

.product-background {
  position: absolute;
  background-color: rgb(244, 255, 245);
  width: 250px;
  height: 350px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.product-img {
  position: absolute;
  width: 210px;
  height: 210px;
  padding-left: 20px;
  padding-top:  20px;
  transition: transform 0.3s ease;
}

.product-name {
  position: relative;
  display: flex;
  top: 73%;
  padding-left: 25px;
  font-size: 25px;
}

.product-price {
  position: absolute;
  bottom: 1px;
  padding-left: 25px;
  color: rgb(255, 103, 103);
  font-size: 20px; 
}

.cart-add {
  position: absolute;
  width: 75px;
  height: auto;
  padding-left: 87.5px;
  padding-top: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

/*ANIMACJE*/

.product:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

.product:hover .product-background {
  transform: scaleY(1.18);
}

.product:hover .cart-add {
  transform: translateY(-83px);
}

.product:hover .product-img{
  transform: scale(1.1);
}

/*LISTA PRODUKTOW*/

.products-h {
  padding-left: 5%;
}

.products {
  width: 85%;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

/*POJEDYNCZY PRODUKT W KOSZYKU*/

.cart-product {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid green;
    padding-top: 15px;
}

.cart-product-img {
    width: 110px;
    height: auto;
    margin: 0 auto;
}

.cart-product-price {
    font-size: 20px;
    color: rgb(255, 103, 103);
    margin: 0 auto;
}

.cart-amount-manager {
    display: flex;
    align-items: center;
}

.cart-rm {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.cart-product-amount {
    font-size: 18px;
}

.cart-rm:hover {
    transform: scale(1.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

.cart-product:hover{
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
}

/*LISTA PRODUKTOW W KOSZYKU*/

@media (max-width: 800px) {
  .cart {
    display: none !important;
  }
}

.cart-total {
  font-size: 30px;
  text-align: center;
}

.cart {
  position: fixed;
  right: 15px;
  top: 150px;
  width: 250px;
  max-height: 610px;
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 255, 245);
  overflow: hidden;
}

.cart-products {
  overflow-y: auto;
  flex-grow: 1;
  padding: 0 10px;
}

.buy-button {
  position: fixed;
  right: 15px;
  bottom: 10px;
  width: 250px;
  height: 80px;

  background-image: linear-gradient(92.88deg, #4D8C57, #A3B56B);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color:  rgb(244, 255, 245);
  cursor: pointer;
  flex-shrink: 0;
  font-family: "DynaPuff";
  font-size: 16px;
  font-weight: 500;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buy-button:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
              0 2px 4px rgba(0,0,0,0.07), 
              0 4px 8px rgba(0,0,0,0.07), 
              0 8px 16px rgba(0,0,0,0.07),
              0 16px 32px rgba(0,0,0,0.07), 
              0 32px 64px rgba(0,0,0,0.07);
  transition-duration: .1s;
}



